.footer{
    /* margin-top: 1rem;
    padding: 1rem; */
    /* background-color: rgb(235, 195, 64); */
    /* position: sticky;
    bottom: 0;
    left: 0;
    width: 100%; */
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40 

    /* height: 50px; */
    }

.page-container {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
}

.content-wrap {
    flex:1;
}